asgiref==3.2.10
Django==3.1.2
django-hashers-passlib==0.4
django-rest-auth==0.9.5
djangorestframework==3.12.1
passlib==1.7.4
Pillow==8.0.1
python-mimeparse==1.6.0
pytz==2020.1
RestAuth==0.6.3
RestAuthCommon==0.7.0
six==1.15.0
South==1.0.2
sqlparse==0.4.1
